#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block; /* Ändrar från flex till block så att innehållet kan växa utan att påverka header */
  flex-grow: 1; /* Vi behåller flex-grow om du vill att #root ska växa i höjd */
}